@model Xvolt.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Site.Layout.cshtml";
}

<h2>Index</h2>

<h2>@Model.Shhh</h2>

<table>
    <tr>
        <th></th>
    </tr>
    
@foreach (var item in Model.NewsItems) {
    <tr>
        <td>
            @item.Title
        </td>
    </tr>
}

</table>
