@model Xvolt.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="center">
    <div class="front-page">
        @foreach (var item in Model.NewsItems)
        {
            <div class="item">
                <div class="title">
                    @item.Title
                </div>
                <div class="image">
                    <img src="@Url.Content(item.Images.First().Filename)" alt="@item.Title" />
                </div>
            </div>
        }
    </div>
</div>
