@using System.Web.Optimization
@model Xvolt.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Index";
}

@section Header
{
    @Styles.Render("~/bundles/home-style")
}

<div class="center">
    <!--<div class="front-page">
        @foreach (var item in Model.NewsItems)
        {
            <div class="item">
                <h1>
                    @item.Title
                </h1>
                <div class="image">
                    <img src="@Url.Content(item.Images.First().Filename)" alt="@item.Title" />
                </div>
            </div>
        }
    </div>-->
</div>
