.front-page
{
}

    .front-page .item
    {
    }

        .front-page .item h1
        {
            font-size: 2.5em; /* 40px (target) / 16px (default) = */
        }

        /*.front-page .item .image
        {
            width: 400px;
        }

            .front-page .item .image img
            {
                width: 100%;
            }

@media screen and (max-width: 640px)
{
    .front-page .item
    {
        float: none;
        width: 100%;
        padding: 0;
    }

        .front-page .item .image
        {
            text-align: center;
            display: inline;
        }

        .front-page .item .image img
        {
            max-width: 400px;
            display: inline;
        }
}*/
