html, body {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", "Segoe UI", "Lato", sans-serif;
}

a {
    text-decoration: none;
}

.main {
    /*width: 900px;*/
    max-width: 1200px;
    min-width: 770px;
    margin: 0 auto;
    padding: 0 100px;
}

.menu-wrapper {
    color: white;
}

.menu-links-outer {
    /*background-color: #F58CC4;*/
    /*float:left; 
            width:100%; */
    margin-right: 130px;
    margin-top: 10px;
    height: 120px;
    position: relative;
}

.menu-live-tile {
    background-color: #1BA1E2;
    float: right;
    width: 120px;
    height: 120px;
}

    .menu-live-tile .live-tile-image {
        background-image: url('/images/liveTile.jpg');
        /*background-position: 0 -20px;*/
        /*http://avatar.xboxlive.com/avatar/workshop2/avatar-body.png*/
    }

.menu-links-inner {
    background-color: #1BA1E2;
    position: absolute;
    bottom: 0;
    left: 0;
    /*padding: 15px 0 15px 0;*/
    margin-right: -15px;
    width: 100%;
}

    .menu-links-inner ul {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 40px;
        overflow: hidden;
    }

        .menu-links-inner ul li {
            float: left;
            list-style: none;
            margin-right: 14.285714285714286px;
        }

            .menu-links-inner ul li a {
                display: block;
                padding: 0 20px;
                white-space: nowrap;
                color: #fff;
            }

            .menu-links-inner ul li:hover {
                background-color: #1AB1E2;
            }
