/* Used for sticky footer */
/* http://ryanfait.com/sticky-footer/layout.css */
*
{
    margin: 0;
}

html, body
{
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", "Segoe UI", "Lato", sans-serif;
    height: 100%; /* Used for sticky footer */
}

.center
{
    max-width: 1200px;
    /*min-width: 770px; */ /* REMEMBER TO CHANGE .background-fill */
    margin: 0 auto;
    padding: 0 100px; /* REMEMBER TO CHANGE .background-fill */
}

.background-fill
{
    /* REMEMBER TO CHANGE THIS WHEN CHANGING CENTER MIN-WIDTH / PADDING */
    /* (center.min-width + padding * 2) */
    /* 770 + (100*2) */
    /*min-width: 970px;*/
}

/*-----------------------------------------------------------------*/
/*                          SITE WRAPPER                           */
/*-----------------------------------------------------------------*/
.site-wrapper
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}


/*-----------------------------------------------------------------*/
/*                              MENU                               */
/*-----------------------------------------------------------------*/


.menu-wrapper
{
    color: white;
    padding-top: 10px;
    /* --------- LOGO TEXT */
    /*background-image: url('/Images/logoText.png');
    background-repeat: no-repeat;
    background-position: 95px 30px;*/
}

    .menu-wrapper .menu-logo
    {
        margin-top: 25px;
    }

    .menu-wrapper .menu-icon
    {
        display: none;
        background-color: #1BA1E2;
        padding: 7px;
        float: right;
    }

    .menu-wrapper .menu-mobile .menu-icon:hover
    {
        background-color: #1AB1E2;
        cursor: pointer;
    }

    .menu-wrapper .menu-mobile .menu-icon img
    {
        display: block;
    }

    .menu-wrapper a
    {
        text-decoration: none;
    }

    .menu-wrapper .menu-live-tile
    {
        background-color: #1BA1E2;
        width: 120px;
        height: 120px;
        float: right;
    }

        .menu-wrapper .menu-live-tile .live-tile-front
        {
            background-image: url('/images/logo.png');
            background-position: top;
            background-repeat: no-repeat;
        }

        .menu-wrapper .menu-live-tile .live-tile-back
        {
            background-image: url('/images/liveTile.jpg');
        }

    .menu-wrapper .menu-links-outer
    {
        margin-right: 130px;
        /*margin-top: 10px;*/
        /*height: 120px;*/
        /*position: relative;*/
    }

        .menu-wrapper .menu-links-outer .menu-links-inner
        {
            background-color: #1BA1E2;
            width: 100%;
            /*position: absolute;
            bottom: 0;
            left: 0;
            margin-right: -15px;*/
        }

            .menu-wrapper .menu-links-outer .menu-links-inner ul
            {
                display: block;
                margin: 0;
                padding: 0;
                line-height: 40px;
                overflow: hidden;
            }

                .menu-wrapper .menu-links-outer .menu-links-inner ul li
                {
                    float: left;
                    list-style: none;
                    margin-right: 14.285714285714286px;
                }

                    .menu-wrapper .menu-links-outer .menu-links-inner ul li a
                    {
                        display: block;
                        padding: 0 20px;
                        white-space: nowrap;
                        color: #fff;
                    }

                    .menu-wrapper .menu-links-outer .menu-links-inner ul li:hover
                    {
                        background-color: #1AB1E2;
                    }

/* Hidden dropdown */
.menu-mobile-dropdown
{
    display: none;
    background-color: #333333;
    color: white;
}

    .menu-mobile-dropdown ul
    {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 40px;
        overflow: hidden;
    }

        .menu-mobile-dropdown ul li
        {
            list-style: none;
        }

            .menu-mobile-dropdown ul li a
            {
                text-decoration: none;
                display: block;
                padding: 0 20px;
                white-space: nowrap;
                color: #fff;
            }

            .menu-mobile-dropdown ul li:hover
            {
                background-color: #1AB1E2;
            }

/*-----------------------------------------------------------------*/
/*                            CONTENT                              */
/*-----------------------------------------------------------------*/

.content-wrapper
{
    background-color: #E5E5E5;
    min-height: 600px;
    width: 100%;
    padding-bottom: 30px;
}

    .content-wrapper .content-inner
    {
        padding-top: 10px;
    }

/*-----------------------------------------------------------------*/
/*                            FOOTER                               */
/*-----------------------------------------------------------------*/
.footer-outer, .push
{
    height: 50px;
    /*width: 100%;*/
}

.footer-outer
{
    background-color: #333333;
}

    .footer-outer .footer-inner
    {
        padding-top: 12px;
        color: #E5E5E5;
        text-align: center;
    }
