html, body
{
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", "Segoe UI", "Lato", sans-serif;
}

.center
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
}

/*-----------------------------------------------------------------*/
/*                            CONTENT                              */
/*-----------------------------------------------------------------*/

.content-wrapper
{
    background-color: #E5E5E5;
    min-height: 600px;
    width: 100%;
    padding-bottom: 30px;
}

    .content-wrapper .content-inner
    {
        padding-top: 10px;
    }